<!DOCTYPE html>
<html lang="PT-br">
    <head>
        <meta charset="UTF-8">
        <title>Mark Zuckerberg</title>
        
    </head>
  
    <body>
        <main id="main">
            <div class="text">
                <div>
                    <h1 id="title">Mark Zuckerberg....</h1>
                    <a href="/sobre">Click aqui</a> 
                    <p class="desativado">Um dos fundadores da rede social mais famosa do mundo, o Facebook.</p>
                </div>
                <div id="img-div">
                    <img id="image" src="https://t.ctcdn.com.br/yqdc6HhlbsOooDFzVQ0Yjh9Mu-k=/i90767.jpeg">
                    <p class="desativado p" id="img-caption"><b>Mark Elliot Zuckerberg em uma de suas palestras sobre o facebook.</b></p>
                </div>
                    <h2>A seguir a linha do tempo do Mark Zuckerberg:</h2>
            </div>    
                    <div id="tribute-info">
                        <ul>
                            <li><b>1984</b> - Ano do nascimento do Mark Zuckerberg.</li>
                            <li><b>1990</b> - Começou a aprender programação por influência de seu pai. Algum tempo
                                 depois seu pai contratou um professor para dar aulas particulares de programação.</li>
                            <li><b>1997</b> - Zuckerberg já programava desde criança, porém, em aos doze anos ele
                                 desenvolveu seu primeiro projeto complexo. Chamado Zuknet, que é um  
                                 aplicativo de comunicação entre seus familiares.</li>
                            <li><b>1998</b> - Por demostrar grande interesse na sua adolescência por computação começou
                                 a prender programação básica com o desenvolvedor David Newman e ingressou
                                 no Mercy College.</li>
                            <li><b>2001</b> - Desenvolveu um software chamado “Synapse Media Player”, que era capaz
                                 de rastrear as preferências musicais dos usuários on-line. </li>
                            <li><b>2002</b> - O seu projeto chamou tanta atenção que a Microsoft fez uma proposta
                                 milionária sobre o seu programa e para o contratar, no entanto, Zuckerberg negou 
                                 todas as propostas. No mesmo ano ele entrou na Universidade de Harvard e começou
                                 a desenvolver sites inovadores ao lado de um grupo de amigos.</li>
                            <li><b>2004</b> - Mark Zuckerberg lança em fevereiro de 2004 o <u>thefacebook.com</u> que foi
                                 criado com outros três alunos, os quais são: o brasileiro Eduardo Saverin,
                                 Chris Hughes e Dustin Moskovitz.</li>
                            <li><b>2006</b> - No início do The facebook era voltado apenas para os universitários,
                                 porém, em 2006 foi aberto ao público, apenas para maiores de 13 anos.</li>
                            <li><b>2012</b> - Casou-se com Priscilla Chan, estão juntos até os dias atuais e possuem
                                 dois filhos.</li>
                        </ul>



                        <div class="p">
                            <p class="desativado"><i>“As pessoas podem ser realmente inteligentes
                                <br> ou ter habilidades diretamente aplicáveis,  
                                <br>mas se elas não acreditarem nisso, 
                                <br>elas não irão dar duro.”</i></p>
                            <p class="desativado"> — Mark Zuckerberg.</p>
                        </div>
                            <h3>Você pode ler mais sobre a trajetoria de Mark nessas fontes, <a id="tribute-link" target="_blank" href="https://pt.wikipedia.org/wiki/Mark_Zuckerberg">wikipedia</a> e <a id="tribute-link" target="_blank" href="http://www.investimentosenoticias.com.br/noticias/investimentos/mark-zuckerberg-biografia"> investimentos e notícias.</a></h3>
                        
                    </div>
                
            </div>
        </main>
    
    </body>


</html>